{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_create'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_create'|trans }}</h1>
    {{ form_start(form) }}
    <div class="form-field">
        {{ form_label(form.title) }}
        <br>
        {{ form_widget(form.title) }}
    </div>
    <br>
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.create'|trans }}" class="btn btn-primary"/>
    </div>
    <br>
    <div class="form-group row float-sm-left">
        <a href="{{ url('category_index') }}" class="btn btn-primary">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
