{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.change.details'|trans }}</h1>
    {{ form_start(form) }}
    <div class="form-field2">
        {{ form_label(form.currentPassword) }}
        <br>
        {{ form_widget(form.currentPassword) }}
    </div>
    <div class="form-field2">
        {{ form_label(form.newPassword) }}
        <br>
        {{ form_widget(form.newPassword) }}
    </div>
    <div class="form-field2">
        {{ form_label(form.email) }}
        <br>
        {{ form_widget(form.email) }}
    </div>
    <br>
    {{ form_end(form) }}
    <br>
    <a href="{{ url('notice_index') }}" title="{{ 'action.back_to_list'|trans }}">
        <button class="btn btn-primary" type="submit">{{ 'action.back_to_list'|trans }}</button>
    </a>
{% endblock %}