{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.notice_create'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.notice_create'|trans }}</h1>
    {{ form_start(form) }}
    {% if false == form.vars.valid %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'danger',
            message: 'message.form_error'|trans,
        }%}
    {% endif %}
    <div class="form-field">
        {{ form_label(form.title) }}
        <br>
        {{ form_widget(form.title) }}
    </div>
    <div class="form-field2">
        {{ form_label(form.content) }}
        <br>
        {{ form_widget(form.content) }}
    </div>
    <div class="form-field">
        {{ form_label(form.email) }}
        <br>
        {{ form_widget(form.email) }}
    </div>
    <div class="form-field">
        {{ form_label(form.category) }}
        <br>
        {{ form_widget(form.category) }}
    </div>
    <br>
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.create'|trans }}" class="btn btn-success"/>
    </div>
    {{ form_end(form) }}
    <br>
    <div class="form-group row float-sm-left">
        <a href="{{ url('notice_index') }}" class="btn btn-light">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
