{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.notice_delete'|trans({'%id%': notice.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.notice_delete'|trans({'%id%': notice.id|default('')}) }}</h1>
    {% if notice is defined and notice|length %}
    <dl class="dl-horizontal">
        <dt>{{ 'label.title'|trans }}</dt>
        <dd>{{  notice.title }}</dd>
        <dt>{{ 'label.content'|trans }}</dt>
        <dd>{{  notice.content }}</dd>
        {% endif %}
    </dl>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>

    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger"/>
    </div>
    <br>
    <div class="form-group row float-sm-left">
        <a href="{{ url('notice_index') }}" class="btn btn-light">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}