{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.notice_list'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'title.notice_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'notice.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'notice.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'notice.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'notice.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'notice.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
    {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
                <th></th>
    {% endif %}
            </tr>

            </thead>
            <tbody>
            {% for notice in pagination.items %}
                {% if is_granted('ROLE_ADMIN') or notice.isActive == 1 %}
                <tr>
                    <td>{{ notice.id }}</td>
                    <td>{{ notice.createdAt|format_date('long') }}</td>
                    <td>{{ notice.content }}</td>
                    <td>{{ notice.email }}</td>
                    <td>
                        <a href="{{ url('notice_index', {'filters.category_id' : notice.category.id}) }}" title="{{ notice.category.title }}">
                            <button class="btn btn-outline-primary" type="submit">{{ notice.category.title }}</button>
                        </a>
                    </td>
                    <td>{{ notice.title }}</td>
                    <td>
                        <a href="{{ url('notice_show', {id: notice.id}) }}" title="{{ 'action.show'|trans }}">
                            <button class="btn btn-outline-primary" type="submit">{{ 'notice.show'|trans }}</button>
                        </a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('notice_edit', {id: notice.id}) }}" title="{{ 'action.edit'|trans }}">
                            <button class="btn btn-outline-warning" type="submit">{{ 'notice.edit'|trans }}</button>
                        </a>
                    </td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('notice_delete', {id: notice.id}) }}" title="{{ 'action.delete'|trans }}">
                            <button class="btn btn-outline-danger" type="submit">{{ 'notice.delete'|trans }}</button>
                        </a>
                    </td>
                        <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if notice.isActive == 0 %}
                            <a href="{{ url('notice_activate', { id: notice.id }) }}">
                                <button class="btn btn-outline-success" type="submit">{{ 'notice.activate'|trans }}</button>
                                </a>
                                {% else %}
                                    <a href="{{ url('notice_deactivate', { id: notice.id }) }}">
                                        <button class="btn btn-outline-warning" type="submit">{{ 'notice.deactivate'|trans }}</button>
                                    </a>
                                {% endif %}
                        {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}