{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.notice_list'|trans }}
{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if app.user %}
            <div class="mb-3">
                Jesteś zalogowany jako {{ app.user.userIdentifier }}, <a href="{{ url('app_logout') }}">Wyloguj</a>
            </div>
        {% endif %}
    {% else %}
        <div>
            <a href="{{ url('app_login') }}">{{ 'action_login'|trans }}</a>
        </div>
    {% endif %}
    <h1>{{ 'title.notice_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'notice.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'notice.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'notice.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'notice.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'notice.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for notice in pagination.items %}
                <tr>
                    <td>{{ notice.id }}</td>
                    <td>{{ notice.createdAt|format_date('long') }}</td>
                    <td>{{ notice.content }}</td>
                    <td>{{ notice.email }}</td>
                    <td>{{ notice.category.title }}</td>
                    <td>{{ notice.title }}</td>
                    <td>
                        <a href="{{ url('notice_show', {id: notice.id}) }}" title="{{ 'action.show'|trans }}">
                            <button class="btn btn-outline-primary" type="submit">Zobacz</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('notice_show', {id: notice.id}) }}" title="{{ 'action.show'|trans }}">
                            <button class="btn btn-outline-success" type="submit">Stwórz</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('notice_show', {id: notice.id}) }}" title="{{ 'action.show'|trans }}">
                            <button class="btn btn-outline-warning" type="submit">Edytuj</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('notice_show', {id: notice.id}) }}" title="{{ 'action.show'|trans }}">
                            <button class="btn btn-outline-danger" type="submit">Usuń</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}