{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.notice_list'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'title.notice_list'|trans }}</h1>
    <a href="{{ url('category_index') }}" title="{{ 'action.show'|trans }}">
        <button class="btn btn-primary" type="submit">Lista kategorii</button>
    </a>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'notice.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'notice.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'notice.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'notice.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'notice.title') }}</th>

                    {% if is_granted('ROLE_ADMIN') %}
                <th>{{ knp_pagination_sortable(pagination, 'label.status'|trans, 'notice.status') }}</th>
                     {% endif %}
                <th>{{ 'label.actions'|trans }}</th>
            </tr>

            </thead>
            <tbody>
            {% for notice in pagination.items %}
                <tr>
                    <td>{{ notice.id }}</td>
                    <td>{{ notice.createdAt|format_date('long') }}</td>
                    <td>{{ notice.content }}</td>
                    <td>{{ notice.email }}</td>
                    <td>
                        <a href="{{ url('notice_index', {'filters.category_id' : notice.category.id}) }}" title="{{ notice.category.title }}">
                            <button class="btn btn-outline-primary" type="submit">{{ notice.category.title }}</button>
                        </a>
                    </td>
                    <td>{{ notice.title }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ notice.isActive}}
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
                        </div>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ url('notice_show', {id: notice.id}) }}" title="{{ 'action.show'|trans }}">
                            <button class="btn btn-outline-primary" type="submit">Zobacz</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('notice_create', {id: notice.id}) }}" title="{{ 'action.create'|trans }}">
                            <button class="btn btn-outline-success" type="submit">Stwórz</button>
                        </a>
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('notice_edit', {id: notice.id}) }}" title="{{ 'action.edit'|trans }}">
                            <button class="btn btn-outline-warning" type="submit">Edytuj</button>
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('notice_delete', {id: notice.id}) }}" title="{{ 'action.delete'|trans }}">
                            <button class="btn btn-outline-danger" type="submit">Usuń</button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}