{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.notice_details'|trans({'%id%': notice.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.notice_details'|trans({'%id%': notice.id|default('')}) }}</h1>
    {% if notice is defined and notice|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ notice.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ notice.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ notice.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  notice.category.title }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  notice.title }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{  notice.email }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{  notice.content }}</dd>
        </dl>
        <p>
            <a href="{{ url('notice_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}